*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
color:#333;
}

.hero{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
padding:80px 20px;
}

.hero h1{
font-size:40px;
}

.btn{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#00bcd4;
color:white;
text-decoration:none;
border-radius:6px;
}

.container{
max-width:900px;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.profile{
width:130px;
border-radius:50%;
border:3px solid #00bcd4;
margin-bottom:10px;
}

.skills span{
display:inline-block;
background:#00bcd4;
color:white;
padding:6px 12px;
margin:5px;
border-radius:20px;
font-size:14px;
}

.project{
background:#f9f9f9;
padding:15px;
margin:15px 0;
border-radius:10px;
border-left:4px solid #00bcd4;
}

.project a{
display:inline-block;
margin-top:10px;
background:#203a43;
color:white;
padding:8px 15px;
border-radius:5px;
text-decoration:none;
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
margin-top:30px;
}
